#about {
    height: 500px;
    width: 100%;
    background-color: white;
}

#contact {
    height: 500px;
    width: 100%;
    background-color: #333a56;
}

#home {
    width: 100%;
    background-color: white;
    padding: 120px 0px 80px 0px;
    text-align: center;
}

#portfolio {
    height: 500px;
    width: 100%;
    background-color: #f7f5e6;
}

.contactMessage {
    opacity: 0.5;
}

.homeHR {
    text-align: center;
    margin: 0 auto;
}

    .homeHR hr {
        border: none;
        height: 2px;
        margin: 10px 25% 10px 25%;
        width: 50%;
        color: #333a56;
        background-color: #333a56;
    }

.homeName {
    margin-top: 80px;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.homeTitle {
    font-size: 3rem;
    font-style: italic;
}

.myLinkHam {
    margin-right: 25px;
    font-size: 1.5rem;
    display: none;
}

.myLinks {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
}

.myName {
    cursor: default;
    font-size: 2rem;
    margin-left: 25px;
    align-content: center;
}

.myNav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(51, 58, 86, 0);
    color: #333a56;
    height: 80px;
    text-decoration: none;
}

    .myNav a {
        cursor: pointer;
        margin-right: 25px;
    }

        .myNav a:link, a:visited, a:active {
            color: #333a56;
            text-decoration: none;
        }

        .myNav a:hover {
            text-decoration: underline;
        }

@media (max-width: 700px) {
    .myLinkHam {
        display: inline;
    }

    .myLinks {
        display: none;
    }
}
