/////////////////
/////Imports/////
/////////////////

@import 'partials/_variables';
@import 'partials/_mixins';
@import 'partials/_functions';

@include google-font('Droid+Serif');
@include google-font('Oswald');

//////////////////
/////Elements/////
//////////////////

/////////////
/////IDs/////
/////////////

#contact {
    @include major-section($pri-color, $sec-color);
}

#footer {

}

#home {
    @include major-section($pri-color, $ter-color);
    
    padding-top: 120px;
}

#nav {
    position: fixed;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $qua-color;
    color: $ter-color;
    height: 0px;
    text-decoration: none;
    z-index: 1;
    transition: height .75s;    
}

#portfolio {
    @include major-section($pri-color, $sec-color);    
}

#skills {
    @include major-section($sec-color, $pri-color);    
}

/////////////////
/////Classes/////
/////////////////

.home-pic {
    background: url('../img/profile.jpg') no-repeat center;
    background-size: cover;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 50%;
    border: 5px solid $pri-color;
    opacity: 0;
    position: absolute;
}

.home-pic-bucket {
    height: 200px;
    width: 200px;
    transition: height 0.5s, width 0.5s;
    @include small-screens {
        height: 235px;
        width: 235px;
    }
    @include medium-screens {
        height: 270px;
        width: 270px;
    }
    @include large-screens {
        height: 300px;
        width: 300px;
    }
    margin: 0 auto;
    position: relative;
}

.nav-link-bucket {
    position: relative;
    height: 100%;
}

.nav-link-ham {
    cursor: pointer;
    margin-right: 25px;
    font-size: 2rem;
    display: none;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
}

.nav-links {
    @include minor-text($major-font, 1.5rem);

    position: absolute;
    background-color: $ter-color;
    display: flex;
    flex-flow: column;
    right: 0;
    text-align: right;

    a {
        display: block;
        color: $qua-color;
        margin-left: auto;
        margin-right: 0;
        padding: 5px 25px;
        cursor: pointer;

        &:after {
            content: '';
            display: block;
            height: 3px;
            width: 0;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
        }
    }
    

    @include medium-screens {
        @include minor-text($major-font, 2rem);           
        display: flex;
        list-style-type: none;
        padding-top: 3px;

        a {
            margin: 0 025px 0;
            transition: margin-right .5s;
            @include large-screens {
                margin-right: 50px;
            }

            
        }
    }
}

.nav-links-base {
    & a:hover:after {
        width: 100%;
        background-color: $ter-color;
    }
}

.nav-links-alter {
    & a:hover:after {
        width: 100%;
        background-color: $qua-color;
    }
}

.nav-name {
    @include major-text($major-font, 2.5rem);

    cursor: pointer;
    margin-left: 25px;
    transition: margin-left .5s;
    @include large-screens {
        margin-left: 50px;
    }
    height: 60px;

    &::first-letter {
        font-size: 3.5rem;
    }
}
